# OS specific files and folders
.DS_Store

# Java specific files and folders
bin
target
doc
*.jar
.settings
.classpath
.maps_tf


# Editor specific files and folders
*~
.project
.javadoc

# Project specific files and folders
*.mapfg
*.mapgr
*.path
*.tgz